/* Write your CSS code here */
.bg-container {
  display: flex;
}
.wave {
  height: 30px;
  width: 30px;
  margin-top: 10px;
}
.text {
  font-family: 'Roboto';
  padding-left: 5px;
}
.text-container {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.text1 {
  font-family: 'Roboto';
  margin-left: 20px;
}
.main-container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
